{
  "openapi": "3.0.0",
  "info": {
    "title": "AsyncNetwork Sample API",
    "version": "1.0.0",
        "description": "AsyncNetwork 프레임워크의 샘플 API 문서"
  },
  "servers": [    
        {
          "url": "https://api.github.com",
          "description": "API Server"
        },    
        {
          "url": "https://jsonplaceholder.typicode.com",
          "description": "API Server"
        }
  ],
  "paths": {    
        "/albums": {
      "get": {
        "summary": "Get albums for a user",
        "description": "특정 사용자의 모든 앨범을 가져옵니다.\n    \n    파라미터:\n    • userId: 앨범을 조회할 User의 ID (필수)\n    \n    기능:\n    • userId 기준 필터링\n    • 페이지네이션 지원\n    \n    응답 형식:\n    Album 객체의 배열을 반환합니다.",
        "tags": ["Albums"],
            "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AlbumDTO"
                      }    
                    }    
                  }
                }
              }
            }
          }    
        },    
        "/albums/{id}": {
      "get": {
        "summary": "Get an album by ID",
        "description": "특정 ID를 가진 앨범을 가져옵니다.\n    \n    파라미터:\n    • id: Album의 고유 식별자\n    \n    에러 처리:\n    • 404: 앨범을 찾을 수 없음",
        "tags": ["Albums"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/AlbumDTO"    
                    }    
                  }
                }
              },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/AlbumNotFoundError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/comments": {
      "get": {
        "summary": "Get comments for a post",
        "description": "특정 포스트의 모든 댓글을 가져옵니다.\n    \n    파라미터:\n    • postId: 댓글을 조회할 Post의 ID (필수)\n    \n    기능:\n    • postId 기준 필터링\n    • 댓글 작성 순서대로 정렬\n    \n    응답 형식:\n    Comment 객체의 배열을 반환합니다.",
        "tags": ["Comments"],
            "parameters": [
          {
            "name": "postId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CommentDTO"
                      }    
                    }    
                  }
                }
              }
            }
          },
      "post": {
        "summary": "Create a comment",
        "description": "새로운 댓글을 생성합니다.\n    \n    요청 바디:\n    • postId: 댓글을 작성할 포스트 ID (필수)\n    • name: 작성자 이름 (필수)\n    • email: 작성자 이메일 (필수, 유효한 형식)\n    • body: 댓글 내용 (필수)\n    \n    검증 규칙:\n    • name: 1-100자\n    • email: 유효한 이메일 형식\n    • body: 1-1000자\n    \n    에러 처리:\n    • 400: 잘못된 요청 데이터\n    • 404: 연관된 포스트를 찾을 수 없음\n    • 422: 검증 실패",
        "tags": ["Comments"],
            "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
          "default": "application/json"
            }
          }    
            ],
            "requestBody": {
              "required": false,
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CommentBodyDTO"
                  }    
                }
              }
            },
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/CommentDTO"    
                    }    
                  }
                }
              },
                  "400": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/CommentValidationError"
                        }
                      }
                    }
                  },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/CommentNotFoundError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/comments/{id}": {
      "get": {
        "summary": "Get a comment by ID",
        "description": "특정 ID를 가진 댓글을 가져옵니다.\n    \n    파라미터:\n    • id: Comment의 고유 식별자\n    \n    에러 처리:\n    • 404: 댓글을 찾을 수 없음",
        "tags": ["Comments"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/CommentDTO"    
                    }    
                  }
                }
              },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/CommentNotFoundError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/photos": {
      "get": {
        "summary": "Get photos for an album",
        "description": "특정 앨범의 모든 사진을 가져옵니다.\n    \n    파라미터:\n    • albumId: 사진을 조회할 Album의 ID (필수)\n    \n    기능:\n    • albumId 기준 필터링\n    • 페이지네이션 지원\n    • 썸네일 URL 포함\n    \n    응답 형식:\n    Photo 객체의 배열을 반환합니다. 각 객체는 원본 이미지 URL과 썸네일 URL을 포함합니다.",
        "tags": ["Photos"],
            "parameters": [
          {
            "name": "albumId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PhotoDTO"
                      }    
                    }    
                  }
                }
              }
            }
          }    
        },    
        "/photos/{id}": {
      "get": {
        "summary": "Get a photo by ID",
        "description": "특정 ID를 가진 사진을 가져옵니다.\n    \n    파라미터:\n    • id: Photo의 고유 식별자\n    \n    응답:\n    원본 이미지 URL과 썸네일 URL을 포함한 Photo 객체\n    \n    에러 처리:\n    • 404: 사진을 찾을 수 없음",
        "tags": ["Photos"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/PhotoDTO"    
                    }    
                  }
                }
              },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/PhotoNotFoundError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/posts": {
      "get": {
        "summary": "Get all posts",
        "description": "JSONPlaceholder에서 모든 포스트를 가져옵니다.\n    \n    기능:\n    • 페이지네이션 지원 (_limit 파라미터)\n    • 사용자별 필터링 (userId 파라미터)\n    \n    응답 형식:\n    Post 객체의 배열을 반환합니다.",
        "tags": ["Posts"],
            "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PostDTO"
                      }    
                    }    
                  }
                }
              }
            }
          },
      "post": {
        "summary": "Create a new post",
        "description": "새로운 포스트를 생성합니다.\n    \n    요청 바디:\n    • title: 포스트 제목 (필수)\n    • body: 포스트 본문 (필수)\n    • userId: 작성자 ID (필수)\n    \n    검증 규칙:\n    • title: 1-200자\n    • body: 1-5000자\n    • userId: 양의 정수",
        "tags": ["Posts"],
            "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
          "default": "application/json"
            }
          }    
            ],
            "requestBody": {
              "required": false,
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PostBodyDTO"
                  }    
                }
              }
            },
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/PostDTO"    
                    }    
                  }
                }
              },
                  "400": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/BadRequestError"
                        }
                      }
                    }
                  },
                  "401": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/PostNotFoundError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/posts/{id}": {
      "get": {
        "summary": "Get a post by ID",
        "description": "특정 ID를 가진 포스트를 가져옵니다.\n    \n    파라미터:\n    • id: Post의 고유 식별자\n    \n    에러 처리:\n    • 404: 포스트를 찾을 수 없음\n    • 500: 서버 내부 오류",
        "tags": ["Posts"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/PostDTO"    
                    }    
                  }
                }
              },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/PostNotFoundError"
                        }
                      }
                    }
                  }
            }
          },
      "put": {
        "summary": "Update a post",
        "description": "기존 포스트를 업데이트합니다.\n    \n    동작 방식:\n    • PUT: 전체 리소스 교체\n    • 모든 필드가 요청 바디에 포함되어야 함\n    \n    파라미터:\n    • id: 업데이트할 Post의 ID\n    \n    에러 처리:\n    • 404: 포스트를 찾을 수 없음\n    • 400: 잘못된 요청 데이터",
        "tags": ["Posts"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
          "default": "application/json"
            }
          }    
            ],
            "requestBody": {
              "required": false,
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PostBodyDTO"
                  }    
                }
              }
            },
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/PostDTO"    
                    }    
                  }
                }
              },
                  "400": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/BadRequestError"
                        }
                      }
                    }
                  },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/PostNotFoundError"
                        }
                      }
                    }
                  }
            }
          },
      "patch": {
        "summary": "Partially update a post",
        "description": "PATCH 메서드로 포스트의 일부 필드만 업데이트합니다.",
        "tags": ["Posts"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/PostDTO"    
                    }    
                  }
                }
              }
            }
          },
      "delete": {
        "summary": "Delete a post",
        "description": "특정 ID를 가진 포스트를 삭제합니다.\n    \n    파라미터:\n    • id: 삭제할 Post의 ID\n    \n    응답:\n    성공 시 빈 응답 반환 (204 No Content)\n    \n    에러 처리:\n    • 404: 포스트를 찾을 수 없음\n    • 403: 삭제 권한 없음",
        "tags": ["Posts"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/EmptyResponse"    
                    }    
                  }
                }
              },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/PostNotFoundError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/users": {
      "get": {
        "summary": "Get all users",
        "description": "JSONPlaceholder에서 모든 사용자를 가져옵니다.\n    \n    기능:\n    • 페이지네이션 지원 (_limit 파라미터)\n    • 완전한 사용자 프로필 정보 포함\n    \n    응답 형식:\n    User 객체의 배열을 반환합니다. 각 객체는 주소, 회사, 연락처 정보를 포함합니다.",
        "tags": ["Users"],
            "parameters": [
          {
            "name": "_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserDTO"
                      }    
                    }    
                  }
                }
              }
            }
          },
      "post": {
        "summary": "Create a new user",
        "description": "새로운 사용자를 생성합니다.\n    \n    요청 바디:\n    • name: 사용자 이름 (필수)\n    • username: 사용자명 (필수, 고유)\n    • email: 이메일 주소 (필수, 유효한 형식)\n    \n    검증 규칙:\n    • name: 1-100자\n    • username: 3-20자, 영문/숫자만\n    • email: 유효한 이메일 형식\n    \n    에러 처리:\n    • 400: 잘못된 요청 데이터\n    • 409: 이미 존재하는 username 또는 email\n    • 422: 검증 실패",
        "tags": ["Users"],
            "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
          "default": "application/json"
            }
          }    
            ],
            "requestBody": {
              "required": false,
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/UserBodyDTO"
                  }    
                }
              }
            },
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/UserDTO"    
                    }    
                  }
                }
              },
                  "400": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/UserValidationError"
                        }
                      }
                    }
                  },
                  "422": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/UserValidationError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/users/{id}": {
      "get": {
        "summary": "Get a user by ID",
        "description": "특정 ID를 가진 사용자를 가져옵니다.\n    \n    파라미터:\n    • id: User의 고유 식별자\n    \n    응답:\n    완전한 사용자 프로필 정보 (주소, 회사, 연락처 포함)\n    \n    에러 처리:\n    • 404: 사용자를 찾을 수 없음",
        "tags": ["Users"],
            "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/UserDTO"    
                    }    
                  }
                }
              },
                  "404": {
                    "description": "Error",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/schemas/UserNotFoundError"
                        }
                      }
                    }
                  }
            }
          }    
        },    
        "/users/{username}": {
      "get": {
        "summary": "Get GitHub User",
        "description": "GitHub API에서 사용자 정보를 가져옵니다.\n\n    사용 예시:\n    • username: \"octocat\" (GitHub 마스코트)\n    • username: \"torvalds\" (Linux 창시자)\n    • username: \"gaearon\" (React 핵심 개발자)\n\n    참고:\n    • GitHub API는 인증 없이 시간당 60회 제한",
        "tags": ["GitHub"],
            "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }    
            ],
            "responses": {
              "200": {
                "description": "Success",
                "content": {
                  "application/json": {
                    "schema": {    
                      "$ref": "#/components/schemas/GitHubUserDTO"    
                    }    
                  }
                }
              }
            }
          }    
        }    
      },
      "components": {
        "schemas": {
    }
  }
}